*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  height: 100vh;
  background-image: url('./app/assets/letsee.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
